@charset "utf-8"; 
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Do+Hyeon|Jua|Noto+Sans:700&display=swap');


#wrap{
    
    width: 1920px;
    height:9500px;
    margin: 0 auto;  
}

.content{
    width: 1920px;
    height:9500px;
    text-indent: -9999em;
    background-image: url(../images/content.jpg);
    
}

  