@import "coca_cola default.css";

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body{	 font-family: 'Noto Sans KR', sans-serif; font-size:12px;  overflow-x:hidden;}

#main_header{width:100%; height:140px; border-bottom:2px solid #fff; position:absolute;
						left:0px; top:0px; z-index:100; }
#main_header>.container{margin:0px auto; width:1320px;}
#main_header h1{float:left; width:215px; height:68px; margin-top:30px;}
#main_header h1>a{display:block; width:215px; height:68px;}
#main_header .gnb1{position:absolute; width:800px; height:140px; top:35px; left:510px;}


#main_header>.container>.gnb1>ul>li{width:160px; height:140px; float:left;}
#main_header>.container>.gnb1>ul>li>a{display:block; width:160px; height:140px; text-align:center; line-height:100px;
										color:#fff; font-size:18px; font-weight:400px;}
#main_header>.container{z-index:100; overflow:visible;}	
#main_header>.gnb_bg{position:absolute; left:0px; top:141px; width:100%; height:200px;
									background:#f3f3f3; opacity:0.6; display:none; }
#main_header .gnb1>ul>li>.sub{ display:none; height:200px; box-sizing:border-box;}
#main_header .gnb1>ul>li>.sub a{color:#fff; font-size:14px; font-weight:500; margin-left:40px; text-align:center; }
#main_header .gnb1>ul>li>.sub li{margin-bottom:20px;}
#main_header .gnb1>ul>li:nth-child(2)>.sub>ul>li:last-child>a{letter-spacing:-0.5px;}

#main_header .gnb2{float:right; margin-top:69px; margin-right:50px;}

#slide_container{	width:100%; height:1080px; background:#0099ff; margin-bottom:120px; border-bottom:11px solid #8e0000;}

#slide_container>.slides{position: relative; width:1920px; height:1080px; overflow: hidden; }
#slide_container>.slides>.slide_content{position:absolute; width:5760px; height:1080px; left:0%; top:0%;}
#slide_container>.slides>.slide_content>li{float:left; width: 1920px; height: 1080px;}

#slide_container>.slides>.slide_content>li:nth-of-type(1){
	background-image: url(../images/slide1.jpg);
	height: 1080px;
	text-indent: -9999px;
}
#slide_container>.slides>.slide_content>li:nth-of-type(2){
	background-image: url(../images/slide2.jpg);
	height: 1080px;
	text-indent: -9999px;
}

#slide_container>.slides>.slide_content>li:nth-of-type(3){
	background-image: url(../images/slide3.jpg);
	height: 1080px;
	text-indent: -9999px;
}

/* 

#slide_container>.slides>.slide1_arrow{position:absolute; width:100%; top:50%; z-index:100;}
#slide_container>.slides>.slide1_arrow>a:nth-of-type(1){position:absolute; left:80px;}
#slide_container>.slides>.slide1_arrow>a:nth-of-type(2){position:absolute; right:260px;}

#slide_container>.btns{position:absolute; width:1230px; left:50%; bottom:30px; transform:translateX(0%);
                        z-index:99;}
#slide_container>.btns li{  float:left;   margin-left:10px;  width:16px;  height:16px;  }
#slide_container>.btns>ul>li:first-child{  margin-left:0px;  }
#slide_container>.btns>ul>li>a{
			display:block;  width:16px;  height:16px;  text-indent:-9999em;  
            background:url(images/btn.png) no-repeat 0px 0px;}
#slide_container>.btns>ul>li>a.on{ background-position:0px -16px; background-color:#fff }
#slide_container>a{
			display:block;  width:50px;  height:32px;  text-align:center;  line-height:32px;
			font-size:12px;   font-weight:bold;  background:#fc3;   color:#333;
			position:absolute;    top:50%;   transform:translateY(-50%);
		}
 */


#slide_container .slide_content img{position:absolute; left:0%; top:0px; }
#slide_container>.slides>.slide_content>a{position:absolute; display:block; width:140px; height:50px; left:50%; bottom:80px; transform:translateX(-50%); 
																text-align:center; line-height:50px; color:#fff;
																font-size:16px; border:1px solid #fff; border-radius:25px; background:rgba(12,65,216,0.5);}
#slide_container>.pagenate>ul>li:last-child>a{background:rgba(255,255,255,1);}



#main_content{margin-bottom:300px;}
#main_content>.about_cocacola_wrap>img{display:block; margin:0px auto; }
#main_content>.about_cocacola_wrap>img:nth-of-type(1){width:789px; height:113px; margin-bottom:92px;}
#main_content>.about_cocacola_wrap>img:nth-of-type(2){width:950px; height:375px; margin-bottom:62px; }

#main_content>.about_cocacola_wrap>.icons{width:1320px; height:200px; margin:0px auto;}
#main_content>.about_cocacola_wrap>.icons li{height:200px; float:left; margin-right:60px;}

#main_content>.about_cocacola_wrap>.icons li:last-child{margin-right:0px;}


#main_content>.new_production_wrap{margin-top:200px; height:500px; margin-bottom:400px;}
#main_content>.new_production_wrap>h2{display:block; width:295px; height:43px; margin:0 auto; padding-bottom:40px; border-bottom:3px solid #858585;
                                        margin-bottom:130px;}



#main_content>.new_production_wrap>.new_production_imgs{background:#f4f4f4; height:332px; width:100%; position:relative;}

#main_content .new_production{display:none;	*zoom:1; position:absolute; width:1160px; height:483px; left:50%;  top:50%;  transform:translate(-50%,-50%);}
#main_content li:first-child{display: block;}
#main_content .new_production>a{position:absolute; display:block; width:92px; height:31px; left:50%; bottom:120px; transform:translateX(0%); 
																text-align:center; line-height:30px; color:#fff;
																font-size:16px; border:1px solid #fff; }
#main_content>.new_production_wrap .slide2_arrow{position:absolute; width:1160px; height:483px; left:50%;  top:50%;  transform:translate(-50%,-50%); }
#main_content>.new_production_wrap .slide2_arrow>.prev{position:absolute; top:40%; left:-80px;}
#main_content>.new_production_wrap .slide2_arrow>.next{position:absolute; top:40%; right:-80px;}

#main_content>.new_production_wrap>.new_production_imgs{position:relative;}
#main_content>.new_production_wrap .pagenate2{position:absolute; width:609px; height:5px; top:130%; left:50%; transform:translateX(-50%);}
#main_content>.new_production_wrap .pagenate2>ul>li.on{opacity:1;}
#main_content>.new_production_wrap .pagenate2>ul>li{width:193px; height:5px; background:#8e0000; opacity:0.4; margin-right:10px; float:left;}
#main_content>.new_production_wrap .pagenate2>ul>li>a{display:block; text-indent:-9999em; }

#main_content>.coca_photo_wrap{margin:0 auto; }
#main_content>.coca_photo_wrap>h2{width:232px; margin:0 auto; padding-bottom:40px; border-bottom:3px solid #858585; margin-bottom:100px;}
#main_content>.coca_photo_wrap>.photos{margin:0 auto; width:900px; height:608px; position:relative; overflow:hidden;}


#main_content>.coca_photo_wrap>.photos .g1{float:left; margin-right:13px;}
#main_content>.coca_photo_wrap>.photos .g2{float:left; margin-right:13px;}
#main_content>.coca_photo_wrap>.photos li:nth-of-type(1){  margin-bottom:14px;}
#main_content>.coca_photo_wrap>.photos li:nth-of-type(2){  margin-bottom:14px;}
#main_content>.coca_photo_wrap>.photos li:nth-of-type(3){  margin-bottom:14px; margin-right:0; }
#main_content>.coca_photo_wrap>.photos li:nth-of-type(6){  margin-right:0;}
#main_content>.coca_photo_wrap>.photos li:nth-of-type(5){  margin-top:-246px;}



#main_content>.coca_photo_wrap>.photos>ul>li{ overflow:hidden;}
#main_content>.coca_photo_wrap>.photos li>img{transition:all 0.4s;}
#main_content>.coca_photo_wrap>.photos li:hover img{   transform:scale(1.1);  }



#main_footer{height:203px; background:#cb2026; overflow:hidden; position:relative;}
#main_footer>.container>.footer_top{border-bottom:1px solid #fff; padding-bottom:29px; margin-top:27px;}
#main_footer>.container>.footer_top>.menu{ margin-left:352px; }
#main_footer>.container>.footer_top>.menu>li{float:left; margin-right:28px; }
#main_footer>.container>.footer_top>.menu>li>a{font-size:14px; color:#fff;}

#main_footer>.container>.footer_top>.sns{padding-bottom:10px;}
#main_footer>.container>.footer_top>.sns>li{ float:left; margin-left:18px;}
#main_footer>.container>.footer_top>.sns>li:nth-of-type(1){ display:block; margin-left:250px; margin-top:-5px; }
#main_footer>.container>.footer_top>.sns>li:nth-of-type(2){ display:block; margin-top:-5px; }
#main_footer>.container>.footer_top>.sns>li:nth-of-type(5){ margin-left:128px; margin-top:-5px;}

#main_footer>.container>.footer_main{ margin-top:37px; margin-left:365px;}
#main_footer>.container>.footer_main>img{ display:block; width:192px; height:61px; margin-left:365px;}
#main_footer>.container>.footer_main>.footer_main_detail>li{float:left; }
#main_footer>.container>.footer_main address{margin-left:100px; margin-top:20px;}
#main_footer>.container>.footer_main address>p:nth-of-type(1){ color:#fff; font-weight:bold; margin-bottom:10px;}
#main_footer>.container>.footer_main address>p:nth-of-type(2){font-size:10px; color:#fff; }

















